.wrapper {
  margin: 0 20px;
  width: 100%;
}

.slider-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: .5s; 
}

.slider-item-container {
  margin: 10px;
}

.slider-btn { 
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.btn-img {
  width: 100%;
}

.slider-btn-next,
.slider-btn-prev {
  background: none;
  border: none;
  max-width: 200px;
  color: #b2e0f1;
  font-style: italic;
  letter-spacing: 2px;
}

.slider-btn-next:hover,
.slider-btn-prev:hover {
  transform: scale(1.07);
}


@media (max-width : 768px) {
  .slider-btn-next:hover, .slider-btn-prev:hover{
    transform:none;
  }
  
}
