body {
    background: #040F2D;
    margin: 0 auto;
    padding: 0;
    color: #e0e0e0;
    font-family: 'Open Sans', Verdana, sans-serif;
    line-height: 2;
    min-width: 320px;
    letter-spacing: 0.5px;
}

a {
    color: #e0e0e0;
    text-decoration: none;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

section {
    margin: 120px auto;
}

.menu {
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.menu::before {
    content: "";
    position: absolute;
    background: #040F2D;
    opacity: 0.85;
    z-index: 90;
    height: 65px;
    top: 0;
    right: 0;
    left: 0;
}

.menu-links {
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0;
    z-index: 100;
}

.menu-link {
    color: #F7F5F5;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
}

.menu-link:nth-child(1) {
    padding-left: 0;
}

.menu-link:nth-last-child(1) {
    padding-right: 0;
}

.menu-links-item::after {
    content: '|';
    padding: 0 30px;
    text-shadow: 1px 1px 2px #00ADEE,
        0 0 20px #00ADEE,
        0 0 50px #00ADEE;
    color: #00ADEE;
}

.menu-links-item:last-child::after {
    content: "";
}

.menu-link:hover, .active {
    text-shadow: 1px 1px 2px #00ADEE,
        0 0 20px #00ADEE,
        0 0 50px #00ADEE;
    color: #F7F5F5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

main {
    margin-top: 120px;
}

.title-container {
    padding: 30px;
}

.title-position {
    font-size: 20px;
    color: #ccc;
    display: block;
}

.logo {
    display: block;
    padding: 0;
    margin: auto;
    width: 100%;
}

#menu-toggle {
    opacity: 0;
}

.userpic-container {
    max-width: 700px;
    padding: 40px 0 0;
}

.userpic {
    width: 100%;
}

.title {
    font-weight: 400;
    font-size: 50px;
    line-height: 1.388;
    margin: 0;
    text-align: center;
}

.title-about, .title-works {
    font-weight: 400;
    font-size: 40px;
    line-height: 1.388;
    margin-bottom: 40px;
}

.way {
    width: 95%;
    margin: 30px auto;
}

.footer_title,
.achievements_title {
    margin: 20px 20px 20px;
    font-size: 35px;
    text-align: left;
    font-weight: 400;
}

.way_title,
.mywork_title {
    margin: 0 auto 30px;
    font-size: 35px;
    text-align: center;
    font-weight: 400;
}

.achievements-container {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - 100px);
}

.achievements {
    padding: 20px;
}

ul.achievements_list {
    list-style: "✔ ";
    color: #7eb8cb;
}

.highlites {
    color: #7eb8cb;
}

.achievements-list-item {
    font-size: 18px;
    padding-bottom: 5px;
}

.achievements-list-item>span {
    color: #dadada;
}

.skills-title {
    margin: 0;
    font-size: 30px;
    text-align: left;
    font-weight: 400;
}

ul.way_list {
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

li.way_list_item {
    width: 50%;
    box-sizing: border-box;
    padding-right: 50px;
    text-align: right;
    margin-bottom: -20px
}

.way_list_item>span {
    display: inline-block;
}

li.way_list_item:nth-child(odd) {
    margin-left: auto;
    padding-left: 50px;
    text-align: left;
}

span.way_list_item_title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.way_list_item_descr {
    text-align: left;
    padding-left: 30px;
}

.way_list_item_descr>span {
    display: block;
}

.way_list::before, .way_list::after {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 1px;
}

.way_list::before {
    border-right: 4px solid #00ADEE;
    border-left: 4px solid #00ADEE;
    margin-top: -3px;
    margin-bottom: -3px;
    filter: blur(5px);
    background: #F5F5F5;
    z-index: 10;
}

.way_list::after {
    border-right: 1px solid #F1F1F2;
    z-index: 20;
    padding-right: 3px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.way_list_item {
    position: relative;
}

li.way_list_item::after {
    content: "";
    top: 0;
    position: absolute;
    background: #F1F1F2;
    width: 9px;
    height: 9px;
    border-radius: 50%;
}

li.way_list_item:nth-child(odd)::after {
    left: 0;
    z-index: 30;
}

li.way_list_item:nth-child(n+2)::after {
    right: -9px;
    z-index: 40;
}

li.way_list_item:nth-last-child(1)::after {
    right: -9px;
    z-index: 40;
    bottom: 0;
    top: calc(100% - 10px);
}

li.way_list_item:hover~.illumination:hover {}

.illumination:hover, li.way_list_item::after:hover {
    background: #8B23A3;
}

.way-subtitle {
    display: inline-block;
    margin: 5px 0;
    letter-spacing: 0.5px;
    color: #7eb8cb;
    font-weight: 600;
}

.skills {
    width: 55%;
    max-width: 600px;
    padding: 60px;
    box-sizing: border-box;
}

.blur {
    background: linear-gradient(208.31deg, rgba(250, 241, 238, 0.16) 2.87%, rgba(250, 241, 238, 0.08) 100.61%);
    backdrop-filter: blur(50px);
    border-radius: 30px;
}

.skills_list {
    font-size: 16px;
}

li .skills-list-item:hover {
    font-size: 21px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-img-container {
    margin-left: 20px;
}

.skills-img {
    width: 100%;
}

.footer-container {
    margin: auto;
    display: flex;
    align-items: center;
}

.footer-img-container {
    width: 45%;
    margin-right: 40px;
}

.footer-img {
    width: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.footer {
    width: 55%;
    max-width: 600px;
    box-sizing: border-box;
    margin-left: auto;
    padding: 70px 50px;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    padding-top: 20px;
}

.contact-phone,
.contact-email,
.contact-skype,
.contact-telegram {
    position: relative;
    margin-bottom: 40px;
}

.contact-phone::before,
.contact-email::before,
.contact-skype::before,
.contact-telegram::before {
    content: url(../images/svg/phone.svg);
    position: absolute;
    width: 50px;
    height: 50px;
    left: -90px;
    bottom: 0px;
    top: -15px;
    margin-right: 50px;
}

.contact-email::before {
    content: url(../images/svg/mail.svg);
}

.contact-skype::before {
    content: url(../images/svg/skype.svg);
}

.contact-telegram::before {
    content: url(../images/svg/telegram.svg);
}

.userpic {
    position: relative;
    transition: 1s;
}

.button-site {
    background: transparent;
    border: none;
    width: 200px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.button-site-img {
    vertical-align: middle;
    width: 100%;
}

.button-site-img:hover {
    transform: scale(1.1);
}

a.button-site-link {
    font-size: 16px;
    text-decoration: none;
    padding: 0 0 10px;
    color: #ccc;
}

.userpic-about {
    max-width: 300px;
    margin-top: 0px;
}

.container-about-box {
    display: flex;
}

.about {
    padding: 0 40px 40px;
    margin-bottom: 50px
}

.gradient {
    background-image: linear-gradient(to top, #2c3958 0%, #030f2d 100%);
    backdrop-filter: blur(50px);
    border-radius: 20px;
}

.container-about-descr {
    padding-right: 30px;
    border-radius: 20px;
}

.userpic:hover {
    z-index: 10;
    transform: scale(1.1);
}

.mywork_item_descr {
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 10px;
    color: #ccc;
    text-align: center;
}

.mywork-img {
    border-radius: 10px;
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 300px;
    object-position: top;
    opacity: 0.85;
}

.mywork-img-scheme {
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
    object-position: left top;
    opacity: 0.85;
}

.mywork-img:nth-child(2+2n) {
    margin-left: 25px;
    margin-right: 25px;
}

.mywork-img::after {
    content: "";
    width: 100%;
    border: 9px solid #00ADEE;
    filter: blur(10px);
    transition: 1s;
}

.mywork-img:hover,
.mywork-img-scheme:hover {
    z-index: 10;
    transform: scale(1.07);
}

img.footer-img:hover {
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}

.works-img-container {
    width: 80%;
    padding: 40px;
    margin: auto;
}

.fixed-left {
    position: fixed;
    bottom: 0;
    left: 0;
}

.fixed-right {
    position: fixed;
    bottom: 0;
    right: 0;
}

.works-img {
    width: 100%;
    border-radius: 20px;
}

.mywork {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.mywork-link {
    margin: 10px 0;
    width: 20%;
}

.mywork-link:nth-child(2n+2) {
    margin-right: 20px;
    margin-left: 20px;
}

.mailers {
    padding: 20px;
    box-sizing: border-box;
    margin: 0 0 auto;
    max-width: 300px;
}

.mywork-link-title {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    color: #7eb8cb;
    font-weight: 300;
    font-size: 1.30em;
}

.mywork-link-list {
    padding-left: 40px;
}

.mywork-link-list-item:hover {
    text-shadow: 1px 1px 2px #00adee, 0 0 20px #00adee, 0 0 50px #00adee;
    color: #F7F5F5;
}

.mywork-link-list-item {
    margin-bottom: 10px;
    display: block;
}

.mailers-descr {
    color: #7eb8cb;
}

.blog {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
}

.blog-article {
    padding: 20px;
}

.blog-article {
    padding: 20px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width : 960px) {

    /* burger */
    .menu {
        flex-direction: column;
        align-items: start;
        padding: 17px;
        width: fit-content;
        position: absolute;
        top: 0;
        left: 0;
        margin: 5px 4px;
        background: #030f2d;
        border-radius: 15px;
        border: 2px solid #525252;
    }

    .menu::before {
        right: auto;
    }

    .menu-links {
        flex-direction: column;
        display: none;
    }

    .menu-link:hover {
        text-shadow: none;
    }

    .menu-check:checked+.menu-links {
        display: flex;
    }

    .menu-btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 999;
    }

    .menu-btn>span,
    .menu-btn>span::before,
    .menu-btn>span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
    }

    .menu-btn>span::before {
        content: '';
        top: -8px;
    }

    .menu-btn>span::after {
        content: '';
        top: 8px;
    }

    .menu-links {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: 0;
        width: 300px;
        padding: 80px 40px 40px;
        background: linear-gradient(208.31deg, rgba(250, 241, 238, 0.16) 2.87%, rgba(250, 241, 238, 0.08) 100.61%);
        backdrop-filter: blur(100px);
        border-radius: 30px;
        border: 1px solid #525252;
        border-top-left-radius: 0;
    }

    .menu-link {
        display: block;
        padding: 12px 24px;
        color: #F7F5F5;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        text-decoration: none;
    }

    .menu-link:hover {
        letter-spacing: 1px;
    }

    #menu-toggle:checked~.menu-btn>span {
        transform: rotate(45deg);
    }

    #menu-toggle:checked~.menu-btn>span::before {
        top: 0;
        transform: rotate(0);
    }

    #menu-toggle:checked~.menu-btn>span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu-toggle:checked~.menu-links {
        visibility: visible;
        left: 0;
    }

    .menu-links-item::after {
        display: none;
    }

    .footer-img-container {
        width: 60%;
        margin-bottom: -10%;
        position: relative;
        z-index: 30;
    }

    .achievements {
        width: 90%;
        margin: 0 auto;
    }
}

@media (max-width : 768px) {
    main {
        margin-top: 30px;
    }

    .title {
        font-size: 40px;
        padding-top: 0;
    }

    .title-about, .title-works {
        font-size: 30px;
        padding: 40px 40px 0;
    }

    .logo {
        height: 150px;
        width: auto;
    }

    .title-container.container {
        flex-direction: column;
    }

    .userpic-container {
        max-width: 500px;
    }

    .userpic {
        width: 100%;
    }

    ul.way_list {
        padding: 10px 10px 0px 30px;
    }

    li.way_list_item.illumination, li.way_list_item {
        margin-left: 0;
        margin-bottom: 20px;
        width: 100%;
        text-align: left;
        padding-left: 0;
    }

    li.way_list_item:nth-child(odd) {
        padding-left: 0;
    }

    .way_list::before, .way_list::after {
        left: 0;
    }

    li.way_list_item::before,
    li.way_list_item:nth-child(odd)::after,
    li.way_list_item:nth-child(n+2)::after {
        left: -30px;
        top: 5px;
    }

    .about {
        padding: 0 40px 40px;
        margin-top: 0;
        min-width: 320px;
    }

    .container-about-box {
        flex-direction: column;
    }

    .skills, .achievements {
        width: 100%;
        margin: 0 auto;
    }

    .mywork-link {
        width: 45%;
    }

    .mywork-img:hover {
        transform: none;
    }

    .mailers {
        max-width: 600px;
        font-size: 18px;
    }

    .mywork-link-title {
        font-size: 25px;
    }

    .skills-container,
    .achievements-container {
        flex-direction: column;
        margin-left: 30px;
        margin-right: 30px;
    }

    .skills-img-container {
        max-width: 250px;
        margin-top: 50px;
    }

    .button-site {
        width: 100px;
    }

    .works-img-container {
        width: 90%;
        padding: 0;
        min-width: 320px;
    }

    .footer {
        width: 100%;
        margin: auto;
    }

    .footer-container {
        position: relative;
        display: block;
        margin: 30px 30px 50px;
    }

    .footer-img-container {
        max-width: 290px;
        margin-bottom: -14%;
    }

    .way_list_item_descr {
        padding-bottom: 40px;
        padding-left: 0;
    }

    .skills_list {
        padding-left: 20px;
    }

    @media (max-width : 500px) {
        .mywork-link {
            width: 85%;
        }

        .skills {
            padding: 40px 20px;
        }

        .footer {
            padding: 40px 20px;
            position: absolute;
        }

        .footer-container {
            margin-top: 50px;
            min-width: 360px;
        }

        .footer-img-container {
            width: 95%;
            margin-bottom: -17%;
        }
    }